.Trickstar {
    color: aqua;
    /*-webkit-animation: rotation 2s infinite linear;*/
    animation-name: Trickstar;
}

.Valkyrie {
    color: green;
}

.Knights {
    color: darkgreen;
}

.ALKALOID {
    color: olive;
}

.fine {
    color: mediumseagreen;
}

/*@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }
*/

button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 100px;
    margin: 0;
    position: relative;
    left: 50%;
}